Protocol 2
# NOTE: Since 'Protocol 2' is now default, this line can be safely removed.
#       But I leave it just for suppressing the rkhunter's warning.

PermitRootLogin no
MaxAuthTries 3

PasswordAuthentication no
KbdInteractiveAuthentication no

AllowAgentForwarding no
AllowTcpForwarding no
AllowUsers {{ admin }}
